src/main/resources/password/pwm/config/PwmSetting.xsd

<!--
  ~ Password Management Servlets (PWM)
  ~ http://code.google.com/p/pwm/
  ~
  ~ Copyright (c) 2006-2009 Novell, Inc.
  ~ Copyright (c) 2009-2015 The PWM Project
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 2 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="settings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="setting" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                            <xs:element type="xs:string" name="label"/>
                            <xs:element type="xs:string" name="description"/>
                            <xs:element type="xs:string" name="regex"/>
                            <xs:element name="default">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element name="value" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="locale" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="template" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="options">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="option" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="value" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:attribute type="xs:string" name="key" use="optional"/>
                        <xs:attribute type="xs:byte" name="level" use="optional"/>
                        <xs:attribute type="xs:string" name="required" use="optional"/>
                        <xs:attribute type="xs:string" name="hidden" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="category" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="label"/>
                            <xs:element type="xs:string" name="description"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="key" use="optional"/>
                        <xs:attribute type="xs:byte" name="level" use="optional"/>
                        <xs:attribute type="xs:string" name="hidden" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="template" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="label"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="key" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>