server/src/main/resources/password/pwm/config/PwmSetting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Password Management Servlets (PWM)
  ~ http://www.pwm-project.org
  ~
  ~ Copyright (c) 2006-2009 Novell, Inc.
  ~ Copyright (c) 2009-2020 The PWM Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="settings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="setting" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                            <xs:element type="xs:string" name="label"/>
                            <xs:element type="xs:string" name="description"/>
                            <xs:element type="xs:string" name="regex"/>
                            <xs:element name="default">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element name="value" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="locale" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="template" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="options">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="option" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="value" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:attribute type="xs:string" name="key" use="optional"/>
                        <xs:attribute type="xs:byte" name="level" use="optional"/>
                        <xs:attribute type="xs:string" name="required" use="optional"/>
                        <xs:attribute type="xs:string" name="hidden" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="category" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="label"/>
                            <xs:element type="xs:string" name="description"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="key" use="optional"/>
                        <xs:attribute type="xs:byte" name="level" use="optional"/>
                        <xs:attribute type="xs:string" name="hidden" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="template" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="label"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="key" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>