server/src/main/resources/password/pwm/config/StoredConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Password Management Servlets (PWM)
  ~ http://www.pwm-project.org
  ~
  ~ Copyright (c) 2006-2009 Novell, Inc.
  ~ Copyright (c) 2009-2020 The PWM Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->


<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="PwmConfiguration">
        <xsd:complexType>
            <xsd:element name="properties">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="property">
                            <xsd:complexType>
                                <xsd:attribute name="key" type="xsd:string" />
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="type" type="xsd:string" />
                    <xsd:attribute name="modifyTime" type="xsd:dateTime" />
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="settings">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="setting">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="label" type="xsd:string" />
                                    <xsd:element name="value" type="xsd:string" />
                                </xsd:sequence>
                                <xsd:attribute name="key" type="xsd:string" />
                                <xsd:attribute name="syntax" type="xsd:string" />
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="localeBundle">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="value" type="xsd:string" />
                    </xsd:sequence>
                    <xsd:attribute name="bundle" type="xsd:string" />
                    <xsd:attribute name="key" type="xsd:string" />
                    <xsd:attribute name="modifyTime" type="xsd:dateTime" />
                </xsd:complexType>
            </xsd:element>
            <xsd:attribute name="pwmVersion" type="xsd:string" />
            <xsd:attribute name="pwmBuild" type="xsd:string" />
            <xsd:attribute name="pwmBuildType" type="xsd:string" />
            <xsd:attribute name="createTime" type="xsd:dateTime" />
            <xsd:attribute name="modifyTime" type="xsd:dateTime" />
            <xsd:attribute name="xmlVersion" type="xsd:int" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
