pwm/servlet/src/password/pwm/ws/client/novell/pwdmgt/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Password Management Servlets (PWM)
  ~ http://code.google.com/p/pwm/
  ~
  ~ Copyright (c) 2006-2009 Novell, Inc.
  ~ Copyright (c) 2009-2012 The PWM Project
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 2 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
  -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.novell.com/pwdmgt/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PasswordManagementService" targetNamespace="http://www.novell.com/pwdmgt/service">
<types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.novell.com/pwdmgt/service">
    <element name="processForgotConfRequest" type="tns:processForgotConfRequest"/>
    <complexType name="processForgotConfRequest">
        <sequence/>
    </complexType>

    <element name="processUserRequest" type="tns:processUserRequest"/>
    <complexType name="processUserRequest">
      <sequence>
        <element name="userName" type="xsd:string"/>
      </sequence>
    </complexType>

    <element name="processChaResRequest" type="tns:processChaResRequest"/>
    <complexType name="processChaResRequest">
      <sequence>
        <element name="userDN" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="chaAnswers" type="xsd:string"/>
      </sequence>
    </complexType>

    <element name="processChgPwdRequest" type="tns:processChgPwdRequest"/>
    <complexType name="processChgPwdRequest">
      <sequence>
        <element name="userDN" type="xsd:string"/>
        <element name="newPassword" type="xsd:string"/>
        <element name="confirmPassword" type="xsd:string"/>
      </sequence>
    </complexType>

    <element name="processForgotConfResponse" type="tns:ForgotPasswordConfWSBean"/>
    <complexType name="ForgotPasswordConfWSBean">
      <sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="configuredRtnLink" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="showReturnLink" type="xsd:boolean"/>
      </sequence>
    </complexType>

    <element name="processUserResponse" type="tns:ForgotPasswordWSBean"/>
    <element name="processChaResResponse" type="tns:ForgotPasswordWSBean"/>
    <element name="processChgPwdResponse" type="tns:ForgotPasswordWSBean"/>
    
    <complexType name="ForgotPasswordWSBean">
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="users" type="tns:NameValue"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="challengeQuestions" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="configuredRtnLink" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="showReturnLink" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="showHint" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="showFullDN" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="userDN" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="userDisplayDN" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="user" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="error" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="action" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="hint" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="rules" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="chaResInUse" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="locked" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="timeout" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="loginAttribute" type="xsd:string"/>
      </xsd:sequence>
    </complexType>
    
    <complexType name="NameValue">
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="value" type="xsd:string"/>
      </xsd:sequence>
    </complexType>
  </schema>
</types>

<message name="processForgotConfInput">
  <part element="tns:processForgotConfRequest" name="bodyIn"/>
</message>
<message name="processUserInput">
  <part element="tns:processUserRequest" name="bodyIn"/>
</message>
<message name="processChaResInput">
  <part element="tns:processChaResRequest" name="bodyIn"/>
</message>
<message name="processChgPwdInput">
  <part element="tns:processChgPwdRequest" name="bodyIn"/>
</message>
<message name="processForgotConfOutput">
  <part element="tns:processForgotConfResponse" name="bodyOut"/>
</message>
<message name="processUserOutput">
  <part element="tns:processUserResponse" name="bodyOut"/>
</message>
<message name="processChaResOutput">
  <part element="tns:processChaResResponse" name="bodyOut"/>
</message>
<message name="processChgPwdOutput">
  <part element="tns:processChgPwdResponse" name="bodyOut"/>
</message>

<portType name="PasswordManagement">
  <operation name="processForgotConf">
    <input message="tns:processForgotConfInput"/>
    <output message="tns:processForgotConfOutput"/>
  </operation>
  <operation name="processUser">
    <input message="tns:processUserInput"/>
    <output message="tns:processUserOutput"/>
  </operation>
  <operation name="processChaRes">
    <input message="tns:processChaResInput"/>
    <output message="tns:processChaResOutput"/>
  </operation>
  <operation name="processChgPwd">
    <input message="tns:processChgPwdInput"/>
    <output message="tns:processChgPwdOutput"/>
  </operation>
</portType>

<binding name="PasswordManagementBinding" type="tns:PasswordManagement">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="processForgotConf">
    <soap:operation soapAction="http://www.novell.com/pwdmgt/service/processForgotConf"/>
    <input>
      <soap:body use="literal"/>
    </input>
    <output>
      <soap:body use="literal"/>
    </output>
  </operation>
  <operation name="processUser">
    <soap:operation soapAction="http://www.novell.com/pwdmgt/service/processUser"/>
    <input>
      <soap:body use="literal"/>
    </input>
    <output>
      <soap:body use="literal"/>
    </output>
  </operation>
  <operation name="processChaRes">
    <soap:operation soapAction="http://www.novell.com/pwdmgt/service/processChaRes"/>
    <input>
      <soap:body use="literal"/>
    </input>
    <output>
      <soap:body use="literal"/>
    </output>
  </operation>
  <operation name="processChgPwd">
    <soap:operation soapAction="http://www.novell.com/pwdmgt/service/processChgPwd"/>
    <input>
      <soap:body use="literal"/>
    </input>
    <output>
      <soap:body use="literal"/>
    </output>
  </operation>
</binding>

<service name="PasswordManagementService">
  <port binding="tns:PasswordManagementBinding" name="PasswordManagementPort">
    <soap:address location="http://172.17.2.91:8080/IDM/pwdmgt/service"/>
  </port>
</service>
</definitions>
