pwm/servlet/src/password/pwm/config/StoredConfiguration.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PwmConfiguration">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="properties" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="key" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="type" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="settings">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="setting" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="label"/>
                                        <xs:element type="xs:string" name="value" maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="default" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="key" use="optional"/>
                                    <xs:attribute type="xs:string" name="syntax" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="localeBundle" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="value" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="locale" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="bundle" use="optional"/>
                        <xs:attribute type="xs:string" name="key" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="setting" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="value" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="key" use="optional"/>
                        <xs:attribute type="xs:string" name="syntax" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="pwmVersion"/>
            <xs:attribute type="xs:string" name="pwmBuild"/>
            <xs:attribute type="xs:string" name="pwmBuildType"/>
            <xs:attribute type="xs:string" name="createTime"/>
            <xs:attribute type="xs:string" name="modifyTime"/>
            <xs:attribute type="xs:byte" name="xmlVersion"/>
        </xs:complexType>
    </xs:element>
</xs:schema>